<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script src="script/funcs.js"></script>
    <script src="script/login.js" defer></script>
    <script src="script/logo.js" defer></script>
    <link rel="stylesheet" href="style/root.css">
    <link rel="stylesheet" href="style/login.css">
</head>
<body>
    <div id="logo-bar">
        <div id="logo"></div>
    </div>
    <div id="content">
        <div id="login-box">
            <div id="header">
                <p>Welcome back!</p>
                <p>It's good to see you again!</p>
            </div>
            <label for="email-field" id="email-label" class="label">EMAIL / PHONE NUMBER</label><input type="text" id="email-field" class="field">
            <label for="password-field" id="password-label" class="label">PASSWORD</label><input type="password" id="password-field" class="field">
            <div id="login-button" onclick="window.location.replace('/app')" class="button">Log in!</div>
            <p id="forgotten-password" onclick="window.location.replace('/forgotten-password')">Forgot password?</p>
            <p id="register" onclick="window.location.replace('/register')">Register an account</p>
        </div>
    </div>
</body>
</html>